// Define a selector .sassy, and use nested properties to set border-width to
//   '10px', border-color to 'red' and border-radius to '5px'.

.sassy {
  border: {
    width: 10px;
    color: red;
    radius: 5px;
  }
}
